.input-element{
    padding: 10px;
    font-weight: roboto;
    margin:20px;
    border-radius: 10px;
    
}
.text-area-ele{
    font-family: roboto;
    margin:20px;
    border-radius: 10px;
}
.button-add{
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}