.active-link{
    text-decoration: underline;
    font-weight: bold;
    color: #28a745;
}

.todos-heading {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}
.header-links {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s ease;
}

.header-links:hover {
  color: #00d4ff; /* Hover color */
  text-decoration: underline;
}

.header-container {

  width: 100%;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}