@use './variables' as *;
@use 'sass:color';
.custom-header {
  background: linear-gradient(90deg, #4b6cb7, #182848);
  color: #fff;

  .logo-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: color.adjust($dark);
    }
  }

  .nav-links {
    .nav-item-link {
      color: #e0e0e0;
      font-weight: 500;
      text-decoration: none;
      position: relative;
      padding: 5px 0;
      transition: all 0.3s ease;

      &:hover {
        color: #ffffff;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #ffffff;
        transition: width 0.3s ease;
      }

      &:hover::after,
      &.active-link::after {
        width: 100%;
      }

      &.active-link {
        font-weight: 600;
        color: #fff;
      }
    }
  }
}
